@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Development Mode</h4>
        <p>Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.</p>
        <hr>
        <p class="mb-0">The Development environment shouldn't be enabled for deployed applications. It can result in displaying sensitive information from exceptions to end users.</p>
    </div>

    <a asp-action="Index" class="btn btn-primary">Return to Home</a>
</div>




